body {
    margin: 0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120vh;
  }
  
  canvas {
    /* Add any specific canvas styles if needed */
  }